* {
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
    padding-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 20px;
    background-color: white;
    
}